<script id="poi-template" type="text/template">
<div class="ui segment">
  <img class="ui rounded left floated image" src="<%%= photo %>">

  <h4 class="ui header"><%%= title %></h4>
  <p><%%= description %></p>

  <div class="ui negative mini button poi-delete">Delete</div>
</div>
</script>
