<script id="poi-template" type="text/template">
<div class="ui segment">
  <img class="ui small rounded left floated image" src="<%%= photo %>">

  <h4 class="ui header"><%%= title %></h4>
  <p><%%= description %></p>

  <div class="ui divider"></div>
  <div class="ui buttons">
    <div class="ui button green mini poi-edit">Edit</div>
    <div class="ui button negative mini poi-delete">Delete</div>
  </div>
</div>
</script>
