<div class="ui modal">
  <i class="close icon"></i>
  <div class="content">

    <div class="ui form segment">
      <div class="field">
        <label>Title</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Title" value="">
          <i class="cloud icon"></i>
        </div>
      </div>

      <div class="field">
        <label>Description</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Description">
          <i class="info icon"></i>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Latitude</label>
          <div class="ui left labeled icon input">
            <input type="text" placeholder="Latitude">
            <i class="map marker icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Longitude</label>
          <div class="ui left labeled icon input">
            <input type="text" placeholder="Longitude">
            <i class="map marker icon"></i>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Photo</label>
        <div class="ui left labeled icon input">
          <input type="file">
          <i class="photo icon"></i>
        </div>
      </div>
    </div>


  </div>
  <div class="actions">
    <div class="ui button mini negative">Cancel</div>
    <div class="ui button mini positive">Save</div>
  </div>
</div>
