<script id="template-modal" type="text/template">
<i class="close icon"></i>
<div class="content">
  <div class="ui form segment">

    <div class="field">
      <label>Title</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="Title" class="poi-title" value="<%%= title %>">
        <i class="cloud icon"></i>
      </div>
    </div>

    <div class="field">
      <label>Description</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="Description" class="poi-description" value="<%%= description %>">
        <i class="info icon"></i>
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <label>Time</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Time" class="poi-time" value="<%%= time %>">
          <i class="time icon"></i>
        </div>
      </div>

      <div class="field">
        <label>Latitude</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Latitude" class="poi-lat" value="<%%= lat?lat:'' %>">
          <i class="map marker icon"></i>
        </div>
      </div>

      <div class="field">
        <label>Longitude</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Longitude" class="poi-lng" value="<%%= lng?lng:'' %>">
          <i class="map marker icon"></i>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Preview Photo</label>
      <div class="ui left labeled icon input">
        <label for="poi-photo-upload-btn" class="poi-preview-label">
          <img class="rounded ui image medium poi-photo-preview" src="<%%= photo %>">
          <input type="file" id="poi-photo-upload-btn" name="photo" class="js-poi-photo-file">
        </label>
        <input type="hidden" name="photo" class="poi-photo" value="<%%= photo %>">
      </div>
    </div>

  </div>
<div class="actions">
  <div class="ui button mini negative">Cancel</div>
  <div class="ui button mini positive js-poi-save-btn">Save</div>
</div>
</script>

<div class="poi-region-modal"></div>
