<script id="template-modal" type="text/template">
<i class="close icon"></i>
<div class="content">
  <div class="ui form segment">

    <div class="field">
      <label>Title</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="Title" class="poi-title" value="<%%= title %>">
        <i class="cloud icon"></i>
      </div>
    </div>

    <div class="field">
      <label>Description</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="Description" class="poi-description" value="<%%= description %>">
        <i class="info icon"></i>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Latitude</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Latitude" class="poi-lat" value="<%%= lat %>">
          <i class="map marker icon"></i>
        </div>
      </div>

      <div class="field">
        <label>Longitude</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Longitude" class="poi-lng" value="<%%= lng %>">
          <i class="map marker icon"></i>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Preview Photo</label>
      <div class="ui left labeled icon input">
        <label for="poi-photo-upload-btn" class="poi-preview-label">
          <img class="rounded ui image medium poi-photo-preview" src="<%%= photo %>">
          <form method="POST" enctype="multipart/form-data" action="/upload">
            <input type="file" id="poi-photo-upload-btn" name="file" class="poi-photo">
            </form>
        </label>
      </div>
    </div>

  </div>
<div class="actions">
  <div class="ui button mini negative poi-cancel-btn">Cancel</div>
  <div class="ui button mini positive poi-save-btn">Save</div>
</div>
</script>

<div class="poi-modal-region"></div>
