<script id="template-poi-item" type="text/template">

<img class="ui avatar image" src="<%%= photo.small.url %>">

<div class="content">
  <a class="header"><%%= title %></a>
</div>

<div class="ui icon buttons right floated">
  <div class="ui mini button blue js-poi-edit-btn"><i class="edit icon"></i></div>
  <div class="ui mini button negative  js-poi-delete-btn"><i class="remove icon"></i></div>
</div>

</script>

