<script id="template-poi-list" type="text/template">
<div class="column">
  <div class="ui segment">

    <div class="ui mini fluid button js-poi-new-btn orange animated fade">
      <div class="visible content">Add new</div>
      <div class="hidden content">
        <i class="add icon"></i>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui slider checkbox js-poi-add-on-map">
      <input type="checkbox">
      <label>Dbclick adds new POI</label>
    </div>

    <div class="ui divider"></div>

    <div class="ui  checkbox js-poi-cluster">
      <input type="checkbox">
      <label>Enable marker clustering</label>
    </div>

  </div>
</div>

<div class="column">
  <div class="ui list divided animated selection poi-items"></div>
</div>
</script>
