<script id="template-poi-item" type="text/template">
<div class="ui segment">
  <img class="ui small rounded left floated image" src="<%%= photo %>">
  <h4 class="ui header"><%%= title %></h4>
  <div class="ui buttons">
    <div class="ui button green mini poi-info-btn">Details</div>
    <div class="ui button mini poi-edit-btn">Edit</div>
    <div class="ui button negative mini poi-delete-btn">Delete</div>
  </div>
</div>
</script>
